.jumbotron{
	background-color: DeepSkyBlue;
	color:white;
	padding: 100px 25px;	
}

.container-fluid {
      padding: 60px 50px;
  }

h2{
	margin-bottom: 30px;
}
	
/*this is used to center the card*/
.card {
        margin: 0 auto;
        float: none;
        margin-bottom:30px;
  }

.navbar-brand img {
	max-height:60px;
	max-width:60px;

