body{
	font-family: 'Do Hyeon', sans-serif;/*Google fonts*/
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	background-image: url("retinawood.png");
}

h1{
	Text-align:center;
}


img{
	width:80px;
	height:80px;
}

table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
	padding:10px;
}
table{
	width:100%;
}



button{
	font-size:24px;
	padding:10px;
	border-radius: 12px;
}
